*{
    font-family: algerian;
}
.navbar a{
    text-decoration: none;
    color: rgb(32, 32, 32);
    transition: 0.8s;
}
.navbar a:hover{
    color: gray;
    transition: 0.3s;
}
.mainimg{
    width: 100%;
}
.block1main{
 position: relative;
 height: 100%;
}
.block2main{
    position: absolute;
    top: 50%;
    left: 45%;
}
.imgrama{
    width:10%;
    margin: 0px auto;
}
.imgmainbike{
    width: 100%;
    height:100%;
}
.imgmain2{
    width: 100%;
    padding: 0px;
}
.w100{
    width:100%;
}
.positonreal{
 position: relative;
}
.posabsol{
    position: absolute;
    top:50%;
    left:45%;
}
.fixedimg{
    width: 100%;
    height: 100%;
}
.h100{
    height: 100%;
}

.discovertheshop{
    background-color:#222a31;
    
}
.afixed{
    text-decoration: none;
    color: white;
    border: 2px solid white;
}
.afixed:hover{
    color: antiquewhite;
    border: 3px solid antiquewhite;
}
.p-rel{
    position: relative;
}
.p-absol{
    position: absolute;
    top:0;
    left:0;
    font-size: 20px;
    background-color: olivedrab;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
}
.p-absol:hover{
    transition: 0,3s;
    color: black;
    opacity: 0.7;
}
